################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stats.json
/obj/Debug
/node_modules
